.hero-unit {
  background: none;
  padding: 25px;

  h1 { font-size: 40px; }

  .buttons { text-align: center; }

  .laptop {
    background: transparent image-url("laptop.png") no-repeat;
    float: left;
    height: 420px;
    margin-left: 0;
    margin-top: 25px;
    padding: 20px;
    width: 476px;

    @media (max-width: 979px){
      float: none;
      margin: 0 auto;
    }
    @media (max-width: 579px){
      background: transparent;
      height: auto;
    }
  }

  .laptop-inner {
    color: $grayLight;
    font-family: 'Ubuntu Mono', sans-serif;
    height: 215px;
    overflow: hidden;
    padding-left: 60px;

    p {
      font-size: 16px;
      line-height: 1em;
      margin: 2px 0 0 0;
      padding-left:5px;
      text-indent:-5px;
      width: 335px;
      word-break: break-word;

      &.prompt-container {
        margin-top: 5px
      }

      .more {
        text-decoration: underline;
      }
    }

    .prompt {
      color: $green;
      font-weight: bold;
      &:before{
        content: "guest@cb.c: ~/dev/site$";
      }
    }
    .command {
      color: $white;

      &.stats:before {
        content: "stats"
      }
      &.languages:before {
        content: "languages";
      }
    }
    @media (max-width: 579px){
      background-color: #333;
      border-radius: 10px;
      box-shadow: inset -1px -1px 2px 1px #999, inset 1px 1px 4px 1px #000;
      height: auto;
      padding: 5px 20px 10px;
      width: 75%;

      p {
        width: 100%;
      }
    }
  }

  .welcome {
    @media (max-width: 1199px){
      width: 370px;
      float: left;
    }
    @media (max-width: 979px){
      float: none;
      width: 80%;
      margin: 0 auto;
    }
  }

}