.hero-unit {
  background: none;
  padding: 25px;

  h1 { font-size: 40px; }

  .buttons { text-align: center; }

  .laptop {
    background: transparent image-url("laptop.png") no-repeat;
    float: left;
    height: 420px;
    margin-left: 0;
    margin-top: 25px;
    padding: 20px;
    width: 476px;
  }

  .laptop-inner {
    color: $grayLight;
    font-family: 'Ubuntu Mono', sans-serif;
    height: 215px;
    overflow: hidden;
    padding-left: 60px;

    p {
      font-size: 16px;
      line-height: 1em;
      margin: 2px 0 0 0;
      padding-left:5px;
      text-indent:-5px;
      width: 335px;
      word-break: break-word;

      &.prompt-container {
        margin-top: 5px
      }

      .more {
        text-decoration: underline;
      }
    }

    .prompt {
      color: $green;
      font-weight: bold;
      &:before{
        content: "guest@cb.c: ~/dev/site$";
      }
    }
    .command {
      color: $white;

      &.stats:before {
        content: "stats"
      }
      &.languages:before {
        content: "languages";
      }
    }
  }

  .welcome {
    @media (max-width: 1199px){
      padding-left: 20px;
    }
  }

}