<hr>

<%
  copyright_year = "2013"
  if Time.now.year > 2013 then
    copyright_year << "-" + Time.now.year.to_s
  end
%>

      <footer>
        <p class="pull-left">
          <span class="pull-right">&copy;<%= copyright_year %> Craig Burton</span>
          Some things here.
        </p>
      </footer>

    </div> <!-- /container -->