<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/"><span class="code">C</span>raig Burt<span class="code">o</span>n, <span class="code">D</span>evelop<span class="code">e</span>r</a>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
              <%= nav_link 'Home', root_path, "icon-home" %>
              <%= nav_link 'About', about_path, "icon-lightbulb" %>
              <li><a href="#contact"><i class="icon-envelope"></i>Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
              <li>
                <a href="https://www.facebook.com/the.real.craig.b" target="_blank" title="Facebook"><i class="icon-facebook"></i></a>
              </li>
              <li>
                <a href="https://twitter.com/the_zenith_" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
              </li>
              
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container">